<div class="spacer"></div>

<div class="full">

  <div class="inLine">
    <h1>Messages</h1>
    <% @messages.reverse_each do |message| %>
      <div class="messageTitle">
        <p>
          <a href="/messages/<%= message.id %>"><%= @users.find_by_id(message.user_id).username %></a>
        </p>
        <p><%= message.body %></p>
      </div>
    <% end %>
  </div>
  <br>
  <br>
  <br>
  <div class="inLine2">
    <form class="messenger" action="/messages" method="post">
      <label>Who are you?</label><br>
      <input type="text" name="title" value=""><br>
      <label>message</label><br>
      <textarea name="body" rows="8" value=""></textarea><br>
      <input type="submit" name="" value="send" id="sub"><br>
    </form>
  </div>
</div>
