<div class="spacer"></div>

<div class="full">

  <div class="inLine">
    <h1>Messages</h1>
    <% @next_group_messages.each do |message| %>
      <div class="messageTitle">
        <p>
          <a href="/profile/show/<%= message.user_id %>"><%= @users.find_by_id(message.user_id).username %></a>
        </p>
        <p><%= message.body %></p>
      </div>
    <% end %>


    <% if !session[:from_num].nil? && session[:from_num] - session[:num_items_on_current_page] > 0 %>
    <form class="" action="/prev" method="post">
      <input type="submit" name="" value="<< Prev">
    </form>
    <% end %>

    <% if !session[:reached_last] %>
    <form class="" action="/next" method="post">
      <input type="submit" name="" value="Next >>">

    </form>
    <% end %>
  </div>
  <br>
  <br>
  <br>
  <div class="inLine2">
    <form class="messenger" action="/messages" method="post">
      <label>message</label><br>
      <textarea name="body" rows="8" value="" maxlength="150"></textarea><br>
      <input type="submit" name="" value="send" id="sub"><br>
    </form>
  </div>
</div>
