<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Twitter Two</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    <nav>
      <!-- <a href="/login">login</a> -->
      <% if !session[:login] %>

        <a class = "left" href="/">home</a>

        <a class = "left" href="<%= current_user == nil ? '/login' : '/logout' %>">
          <%= current_user == nil ? 'Login' : 'Logout' %>
        </a>

        <% if current_user != nil && !session[:in_profile_page] %>
          <a class="left" href="/profile/show/<%= current_user.id %>">
            View My Profile
          </a>
        <% end %>

      <% end %>
    </nav>

    <%= yield %>

    <script src="/js/index.js"></script>
  </body>
</html>
