<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Message Maker</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    <nav>
      <a class = "left" href="/">home</a>
      <!-- first check the user's login status -->
      <% if !session[:login] %>
        <!-- if user is not logged in, display a "login" button: -->
        <!-- otherwise, display "logout" -->
        <a class = "left" href="<%= current_user == nil ? '/login' : '/logout' %>">
        <%= current_user == nil ? 'login' : 'logout' %>
        </a>
        <!-- and if the user is logged in, display a "view my profile" button -->
        <% if current_user != nil && !session[:in_profile_page] %>
          <a class="right" href="/profile/show/<%= current_user.id %>">
            View My Profile
          </a>
        <% end %>
      <% end %>
    </nav>

    <%= yield %>

    <footer class="footer">
      <div>
        <p>&copy; Chris, George, and Sandro @ NYCDA 2017</p>
        </div>
    </footer>

    <script src="/js/index.js"></script>
  </body>
</html>
